.DS_Store

*.class
*.sw[a-z]
*.iml
.classpath
.project
.settings
.gradle
.vscode

target
bin
build

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/
.idea/**
uiDesigner.xml
com.kloudless.testsdk/

